* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
  line-height: 1.6;
  display: block;
}

.recipe {
  width: 100%;
  max-width: 375px;
  background-color: white;
  padding: 0 1rem 2.5rem;
  margin: 0 auto;
}

.recipe__image {
  width: calc(100% + 2rem);
  margin: 0 0 2.5rem -1rem;
  display: block;
  border-radius: 0;
}

.recipe__title {
    font-family: "Young Serif", serif;
    font-size: 2.2rem;
    font-weight: 400;
    margin: 1rem 0 0.75rem;
    color: hsl(24, 5%, 18%);
    line-height: 1.1;
}

.recipe__description {
  margin-bottom: 2rem;
}

.section-title {
  font-family: "Young Serif", serif;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: hsl(14, 45%, 36%);
}

.prep-time {
  background-color: hsl(330, 100%, 98%);
  padding: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  margin: 2rem;
}

.prep-time__title {
  color: hsl(332, 51%, 32%);
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.prep-time__list li {
  margin-bottom: 0.5rem;
}

ul,
ol {
  margin-left: 1.25rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  padding-left: 0.5rem;
  margin-bottom: 0.6rem;
}

ul li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 0.75rem;
}

ol li::marker {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: hsl(14, 45%, 36%);
}

.ingredients,
.instructions {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  margin-bottom: 1.5rem;
}

.nutrition__description {
  margin-bottom: 1rem;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table tr {
  border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition-table tr:last-child {
  border-bottom: none;
}

.nutrition-table td {
  padding: 0.75rem 0;
}

.nutrition-table td:last-child strong {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: hsl(14, 45%, 36%);
}

@media (min-width: 1440px) {
  body {
    padding: 4rem 0;
  }

  .recipe {
    max-width: 700px;
    padding: 2.5rem;
    border-radius: 20px;
  }

  .recipe__image {
    border-radius: 15px;
  }

  .recipe__title {
    font-size: 2.5rem;
  }
}
